* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button, input, textarea {
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}


.navbar ul {
  display: flex;
  margin: 30px 30px;
  text-align: center;
}

.navbar li {
  padding: 8px;
  width: 100%;
  background-color: burlywood;
  color: white;
  border: 1px solid rgb(245, 232, 214);
  border-radius: 5px;
  transition: 0.3s;
}

.navbar li:hover {
  background-color: white;
  border: 1px solid burlywood;
  color: burlywood;
}

.navbar li:not(:last-child) {
  border-right: none;
}

/* 선생님 버전*/
.menu {
  float: left;
  width: 150px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 20px 0px;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.menu:hover {
  border: 1px solid burlywood;
  background-color: white;
  color: burlywood;
}
